body {
  display: flex;
  font-family: var(--font-family);
  justify-content: center;
  padding-inline: 16px;
  min-height: 100vh;
  background-color: var(--color-black);
  color: var(--color-white);
}

#root {
  width: 100%;
}